

.Home-card {
    background: url('../../../images/Home.png')   #46B6AC;
}

.School-card {
    background: url('../../../images/School.png')   #46B6AC;
}

.Playground-card {
    background: url('../../../images/Playground.png')   #46B6AC;
}

.Dinner-card {
    background: url('../../../images/Dinner.png')   #46B6AC;
}

.demo-card-event.mdl-card {
  width: 400px;
  height: auto;
  //background: #3E4EB8;
  //background: url('../../../images/{{type}}.png')   #46B6AC;
  float: left;
  margin: 10px;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.mdl-data-table {
	background-color: #8ff;
}

