

<div style="margin-left:10px" >

<h3 style="text-align:center">
  Latest Diary Entries
</h3>




<label *ngFor="let t of eventTypes" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
  <input type="radio" id="t" class="mdl-radio__button" name="type" [(ngModel)]="type" [value]="t"> 
  <span class="mdl-radio__label" style="margin-right:10px" >{{t}}</span>
</label>




<div style="border: 1px solid black;; word-wrap: break-word;">

  <ul class="list-group">
      <li *ngFor="let event of getActiveEvents()"  (click)="onSelectEvent(event)">
      	<span style="color:blue">{{event.title}}</span> 
        <br> Info: {{printEvent(event)}} </li>
  </ul>

</div>


</div>

