

<div style="margin-left:10px" >


<h3 style="text-align:center">
  Latest Diary Entries
</h3>



<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="align:center">
  <div class="mdl-tabs__tab-bar">


    <a href="#Home" class="mdl-tabs__tab is-active"  (click)="onTypeSelected('Home')" >Home</a>
    <a href="#School" class="mdl-tabs__tab" (click)="onTypeSelected('School')">School</a>
    <a href="#Playground" class="mdl-tabs__tab" (click)="onTypeSelected('Playground')">Playground</a>
  </div>


  <div class="mdl-tabs__panel is-active" id="Home">

		    
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Time</th> 
		      <th>Title</th>
		      <th>Activity</th>
		    </tr>
		  </thead>

		  <tbody>

		    <tr *ngFor="let event of els.dbItemsForDisplay['Home'] |  async">
		      <td class="mdl-data-table__cell--non-numeric">{{event.dateStr | date:"MM/dd/yy HH:mm"}}</td>
		      <td> {{event.title}} </td>
		      <td> {{event.homeActivity}} </td>
		    </tr>

		  </tbody>

		</table>

 
  </div>
  
  <div class="mdl-tabs__panel" id="School">
    
 		    
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Time</th> 
		      <th>Title</th>
		      <th>Classes</th>
		      <th>Got Homework?</th>
		    </tr>
		  </thead>

		  <tbody>

		    <tr *ngFor="let event of els.dbItemsForDisplay['School'] | async ">
		      <td class="mdl-data-table__cell--non-numeric">{{event.dateStr | date:"MM/dd/yy HH:mm"}}</td>
		      <td> {{event.title}} </td>
		      <td> {{printClasses(event.classes)}} </td>
		      <td> {{event.gotHomework}} </td>
		    </tr>

		  </tbody>

		</table>

 

  </div>
  <div class="mdl-tabs__panel" id="Playground">
    
  		    
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Time</th> 
		      <th>Title</th>
		      <th>Play</th>
		      <th>Had fun?</th>
		    </tr>
		  </thead>

		  <tbody>

		    <tr *ngFor="let event of els.dbItemsForDisplay['Playground'] | async">
		      <td class="mdl-data-table__cell--non-numeric">{{event.dateStr | date:"MM/dd/yy HH:mm"}}</td>
		      <td> {{event.title}} </td>
		      <td> {{event.game}} </td>
		      <td> {{event.hadFun}} </td>
		    </tr>

		  </tbody>

		</table>

 

  </div>
</div>






</div>

