

<div style="margin-left:10px" >


<h3 style="text-align:center">
  Latest Diary Entries
</h3>


<mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">


    <mdl-tab-panel *ngFor="let t of tabTypes" [mdl-tab-panel-title]="t">

		    <div *ngFor="let event of els.dbItemsForDisplay[t] |  async"  >
		    
		    	<app-event-card [data]=event></app-event-card>
		    	

		    </div>


  </mdl-tab-panel>


</mdl-tabs>


<div style="position:absolute; right:0px">

<button (click)="els.showMoreEvents()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<div>


