<div [formGroup]="form">
  <br>
      
  <div [ngSwitch]="question.controlType">
      

    <!-- Textfield -->

    <div *ngSwitchCase="'textbox'">
          <div *ngIf="question.hideCond==''">
              <mdl-textfield [type]="question.type" [label]="question.label" floating-label  
                   [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
          </div>
          <div *ngIf="question.hideCond!=''">
              <mdl-textfield [type]="question.type" [label]="question.label" floating-label  
                   [hidden]="form.controls[question.hideCond].value"
                   [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
          </div>
    </div>

      

    <!-- dropdown w/o MDL (select is not supported by MDL) -->

    <div *ngSwitchCase="'dropdown'">
        <label [attr.for]="question.key"  class="mdl-label"> {{question.label}}</label>

        <mdl-select [id]="question.key" [formControlName]="question.key" style="margin-left:10px" >
            <mdl-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mdl-option>
        </mdl-select>

    </div>


    <!-- radio -->

    <div [id]="question.key" *ngSwitchCase="'radio'">
        <label [attr.for]="question.key"  class="mdl-label"> {{question.label}}</label>
        <mdl-radio *ngFor="let opt of question.options" [value]="opt.key" 
             [formControlName]="question.key" mdl-ripple style="margin-left:15px" >{{opt.value}}
        </mdl-radio>
    </div>



    <!-- checkbox -->

    <div [id]="question.key" *ngSwitchCase="'checkbox'" >
        <label [attr.for]="question.key"  class="mdl-label"> {{question.label}}</label>
        <mdl-checkbox [mdl-ripple]="true" [id]="question.key" [formControlName]="question.key" >
            {{question.text}}
        </mdl-checkbox> 
    </div>



    <!-- multiCheckbox -->

    <div [id]="question.key" *ngSwitchCase="'multiCheckbox'" > 
        <label [attr.for]="question.key"  class="mdl-label"> {{question.label}}</label>
        <div style="margin-left: 20px">
            <div *ngFor="let opt of question.options" class="checkbox">
                <mdl-checkbox [mdl-ripple]="true" [id]="opt.key" [formControlName]="question.key + '__' + opt.key" >
                    {{opt.text}}
                </mdl-checkbox> 
            </div>
        </div>
    </div>


    <!-- Other of multiCheckbox -->

    <div  *ngSwitchCase="'multiCheckbox'" > 
          <div *ngFor="let opt of question.options">
             <div *ngIf="opt.altInput" style="margin-left: 60px">
                <mdl-textfield [type]="text" [label]="opt.text" floating-label  
                     [hidden]="! form.controls[question.key + '__' + opt.key].value"
                     [id]="question.key + '__' + opt.key + '__altInput'"
                     [formControlName]="question.key + '__' + opt.key + '__altInput'" >
                </mdl-textfield>
            </div>
        </div>
    </div>

  </div>

</div>



