
<div style="margin:20px">

	<h3 style="text-align:center">
	  New Entry
	</h3>


	<label for="type"  class="mdl-label"> Select type</label>
    <mdl-select class="form-control" [(ngModel)]="type" style="margin-left:10px" (change)="typeChanged()" >
            <mdl-option *ngFor="let t of eventTypes" [value]="t" >{{t}}</mdl-option>
    </mdl-select>


	<div *ngIf="type!=''">
		<h3 style="text-align:center"> New {{type}} Diary Entry </h3>
	</div>


	<div *ngIf="type=='Home'">
		<dynamic-form-home></dynamic-form-home>
	</div>

	<div *ngIf="type=='School'">
		<dynamic-form-school></dynamic-form-school>
	</div>

	<div *ngIf="type=='Playground'">
		<dynamic-form-playground></dynamic-form-playground>
	</div>


</div>

