
<div style="margin:20px">

	<h3 style="text-align:center">
	  New Entry
	</h3>

	<label for="type"> <span class="mdl-label" style="font-weight: bold">Select type</span> </label>
	<select class="form-control" [(ngModel)]="type" (change)="typeChanged($event.target.value)">
		<option *ngFor="let t of eventTypes">{{t}}</option>
	</select>



	<div *ngIf="type!=''">
		<h3 style="text-align:center"> New {{type}} Diary Entry </h3>
	</div>


	<div *ngIf="type=='Home'">
		<dynamic-form-home></dynamic-form-home>
	</div>

	<div *ngIf="type=='School'">
		<dynamic-form-school></dynamic-form-school>
	</div>

	<div *ngIf="type=='Playground'">
		<dynamic-form-playground></dynamic-form-playground>
	</div>


</div>

